/.DS_Store
.vscode/
.idea/
.vs/

node_modules/
ASG.Web/dist/
ASG.Web/android/
ASG.Web/ios/
**/bin/
**/obj/
**/publish/
ASG.Api/appsettings.json
ASG.Api/wwwroot/uploads/
ASG.Api/wwwroot/event-logos/
ASG.Api/wwwroot/team-logos/
ASG.Api/wwwroot/avatars/

# heavy static assets
ASG.Web/public/animations/*.json
ASG.Web/public/robots.txt
ASG.Web/public/sitemap.xml

# user-specific IDE settings
*.user
*.DotSettings.user
ASG.Api/appsettings.json
**/bin/
**/obj/
**/publish/
ASG.Web/dist/
