:root {
  font-family: 'Roboto Flex', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans SC', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a { text-decoration: none; }
body { margin: 0; min-width: 320px; min-height: 100vh; }
#app { min-height: 100vh; }
.page-container { max-width: 1200px; margin: 0 auto; }
.narrow-container { max-width: 820px; margin: 0 auto; }
